<!DOCTYPE html>
<html lang="en" xmlns="http://www.w3.org/1999/xhtml"
	xmlns:th="http://www.thymeleaf.org">
<head>
<title>Registration Form</title>
<style> 
#back{
  border: 1px dotted;
  padding: 10px;
  box-shadow: 5px 10px #888895;
}
</style>

<script type="text/javascript">
    function reloadCaptcha(){
    	location.reload();
    }
</script>

</head>
<body>
	<form autocomplete="off" action="#" th:action="@{/registration}" id="register"
		th:object="${user}" method="post" role="form">

		<h2>Registration Form</h2>

		<table id="back">
			<tr>
				<td colspan="2">
					<h2>
						<span class="text-success" th:utext="${successMessage}"></span>
					</h2>
				</td>
			</tr>
			<tr>
				<td colspan="2">
					<h2>
						<span class="text-success" th:utext="${errorMessage}"></span>
					</h2>
				</td>
			</tr>
			<tr>
				<td>Email :</td>
				<td><input type="text" th:field="*{email}" placeholder="Email" />
					<label th:if="${#fields.hasErrors('email')}" th:errors="*{email}"></label>
				</td>
			</tr>
			<tr>
				<td>Password :</td>
				<td><input type="password" th:field="*{password}" placeholder="Password" /> 
					<label th:if="${#fields.hasErrors('password')}" th:errors="*{password}"></label>
				</td>
			</tr>
			<tr>
				<td>First Name :</td>
				<td><input type="text" th:field="*{name}" placeholder="First Name" /> 
					<label th:if="${#fields.hasErrors('name')}" th:errors="*{name}"></label></td>
			</tr>
			<tr>
				<td>Last name :</td>
				<td><input type="text" th:field="*{lastName}" placeholder="Last name" /> 
					<label th:if="${#fields.hasErrors('lastName')}" th:errors="*{lastName}"></label>
				<td>
			</tr>
			<tr>
				<td><div id="captcha_id">
					<img src="/captcha" alt="reload"width="120" height="40"/>
					</div></td>
				<td>
                	<a href="#" onclick="reloadCaptcha()"><img src="../images/refresh.png" /></a>
                	<input type="text" name="captcha" placeholder="Captcha" />
                	<label th:if="${#fields.hasErrors('captcha')}" th:errors="*{captcha}"></label>
                </td>
			</tr>
			<tr>
				<td><button type="submit">Register User</button></td>
			</tr>
		</table>
	</form>

	<br />
	<a th:href="@{/}"> Back</a>
</body>
</html>